@include b(error-page) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
@include b(error-img) {
  width: 205px;
  height: 205px;
  background-position: -7px -31px;
  background-size: cover;
  background-repeat: no-repeat;

  @include m(notfind) {
    background-position: -7px -17px;
  }
}
@include b(error-ctn) {
  display: flex;
  flex-direction: row;
  text-align: left;
}
@include b(error-notice) {
  margin-left: 20px;
  @include e(title) {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #5a5a5a;
  }
  @include e(desc) {
    margin: 27px 0 19px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    color: #929292;
  }
}
