@include b(submit-tip) {
    flex: 1;
    margin: 10px 0;
    text-align: center;

    @include e(text) {
        color: #999;
        font-size: 12px;
        line-height: 16px;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@include b(submit-buttons) {
    text-align: center;
}

@include b(submit-col) {
    display: flex;
    justify-content: center;
    @include e(detail) {
        justify-content: left;
        overflow: hidden;
        white-space: nowrap;
        .el-form-item {
            margin-bottom: 0px;
        }
    }
}